@font-face {
  font-family: "dot";
  src: url("./dot.otf") format("opentype");
}

@font-face {
  font-family: "dotItalic";
  src: url("./dotItalic.otf") format("opentype");
}
* {
  font-family: "dot";
  font-size: 24px;
  padding: 0;
  margin: 0;
}
