@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap");

@font-face {
  font-family: "dot";
  src: url("../dot.otf") format("opentype");
}

@font-face {
  font-family: "dotItalic";
  src: url("../dotItalic.otf") format("opentype");
}
@font-face {
  font-family: "suisse";
  src: url("../suisse.otf") format("opentype");
}

* {
  font-family: "dot";
  font-size: 24px;
  padding: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  margin: 0;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  all: unset;
}

.channel-button {
  animation: slowblink ease-in-out 5000ms infinite;
  transition: all ease-in-out 500ms;
}

.channel-button:hover {
  color: red;
  background: black;
}

.sorry {
  width: 100vw;
  height: 100vh;
  font-size: 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: black;
  color: white;
  justify-content: center;
  align-items: center;
  display: none;
}

@media only screen and (max-width: 1000px) {
  .sorry {
    display: flex;
  }
}

@keyframes slowblink {
  0% {
    background: rgba(250, 50, 50, 0);
  }
  50% {
    background: rgba(220, 220, 220, 1);
  }
  100% {
    background: rgba(250, 50, 50, 0);
  }
}
